<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Lesson</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="./static/css/reset.css">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    
    <header class="header">
        <div class="header__inner">
            <div class="header__logo">
                <img src="../img/logo.svg" alt="">
            </div>
            <div class="header-nav">
                <nav class="nav">
                    <ul>
                        <li class="navlink"><a class="header-link-active" href="">О нас</a></li>
                        <li class="navlink"><a class="header-link" href="">Услуги</a></li>
                        <li class="navlink"><a class="header-link" href="">Специалисты</a></li>
                        <li class="navlink"><a class="header-link" href="">Пациентам</a></li>
                        <li class="navlink"><a class="header-link" href="">Контакты</a></li>
                    </ul>
                    <div class="header-address">
                        <div class="header-address-icon">
                            <img src="./img/address.svg" alt="">
                        </div>
                        <div class="header-address-text">
                            <p>Чебоксары, Энтузиастов 1А</p>
                        </div>
                    </div>
                    <div class="header-calendar">
                        <div class="header-calendar-icon">
                            <img src="./img/calendar.svg" alt="">
                        </div>
                        <div class="header-calendar-text">
                            <p>с 09:00 - 20:00 <span>пн-сб</span></p>
                        </div>
                    </div>
                    <div class="header-telephone">
                        <div class="header-telephone-icon">
                            <img src="./img/telephone.svg" alt="">
                        </div>
                        <div class="header-telephone-text">
                            <p>+7900 333 10 40</p>
                        </div>
                    </div>
                    <div class="header__card_soc">
                        <div class="header-soc-card">
                            <img src="./img/google.svg" alt="">
                        </div>
                        <div class="header-soc-card">
                            <img src="./img/instagram.svg" alt="">
                        </div>
                        <div class="header-soc-card">
                            <img src="./img/in.svg" alt="">
                        </div>
                    </div>
                </nav>
                <div class="burger">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div class="header-button">
                <div class="header-button-col">
                    <button>Заказать звонок</button>
                </div>
            </div>
        </div>
    </header>

    <section class="main">
        <div class="main-text">
            <div class="main-text-block">
                <div class="main-text-top-text">
                    <p>— Стоматология в Чебоксарах</p>
                </div>
                <div class="main-text-h2">
                    <h2>Лечение зубов в тот же день</h2>
                </div>
                <div class="main-text-descr">
                    <p>
                        Мы проведем полную консультацию, 
                        профессиональную гигиену полости рта, 
                        лечение зубов и десен
                    </p>
                </div>
                <div class="main-button-col">
                    <button>Записаться на приём</button>
                </div>
            </div>
        </div>
        <div class="main-block-card">
            <div class="main-cards">
                <div class="main-card">
                    <div class="main-icon-card">
                        <img src="./img/doctor.svg" alt="">
                    </div>
                    <div class="main-descr-card">
                        <p>Команда квалифицированных специалистов</p>
                    </div>
                </div>
                <div class="main-card">
                    <div class="main-icon-card">
                        <img src="./img/creslo.svg" alt="">
                    </div>
                    <div class="main-descr-card">
                        <p>3 стоматологических кабинета</p>
                    </div>
                </div>
                <div class="main-card">
                    <div class="main-icon-card">
                        <img src="./img/maps.svg" alt="">
                    </div>
                    <div class="main-descr-card">
                        <p>Удобное расположение</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="deal">
        <div class="deal-inner">
            <div class="deal-text-center">
                <div class="deal-text">
                    <div class="deal-text-h4">
                        <h4>Услуги</h4>
                    </div>
                    <div class="deal-text-descr">
                        <p>
                            Мы постарались сделать прайс, 
                            максимально простым и понятным. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="deal-cards-inner">
                <div class="deal-cards">
                    <div class="deal-cardes">
                        <div class="deal-cardlink">
                            <div class="deal-card-img">
                                <img src="./img/card-one.svg" alt="">
                            </div>
                            <div class="deal-card-text">
                                <p class="deal-card-active-text">Лечение зубов</p>
                            </div>
                        </div>
                        <div class="deal-card">
                            <div class="deal-card-img">
                                <img src="./img/gigiens.svg" alt="">
                            </div>
                            <div class="deal-card-text">
                                <p>Гигиена</p>
                            </div>
                        </div>
                        <div class="deal-card">
                            <div class="deal-card-img">
                                <img src="./img/card-three.svg" alt="">
                            </div>
                            <div class="deal-card-text">
                                <p>Брекеты</p>
                            </div>
                        </div>
                        <div class="deal-card">
                            <div class="deal-card-img">
                                <img src="./img/card-four.svg" alt="">
                            </div>
                            <div class="deal-card-text">
                                <p>Детская <br>стоматология</p>
                            </div>
                        </div>
                        <div class="deal-card">
                            <div class="deal-card-img">
                                <img src="./img/card-five.svg" alt="">
                            </div>
                            <div class="deal-card-text">
                                <p>Импланты</p>
                            </div>
                        </div>
                    </div>
                    <div class="deal-cardesing">
                        <div class="deal-card">
                            <div class="deal-card-img">
                                <img src="./img/card-six.svg" alt="">
                            </div>
                            <div class="deal-card-text">
                                <p>Виниры</p>
                            </div>
                        </div>
                        <div class="deal-card">
                            <div class="deal-card-img">
                                <img src="./img/card-seven.svg" alt="">
                            </div>
                            <div class="deal-card-text">
                                <p>Коронки</p>
                            </div>
                        </div>
                        <div class="deal-card">
                            <div class="deal-card-img">
                                <img src="./img/card-eight.svg" alt="">
                            </div>
                            <div class="deal-card-text">
                                <p>Хирургия</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="reviews">
        <div class="reviews-block">
            <div class="reviews-text">
                <p>Нам доверяют пациенты</p>
            </div>
            <div class="reviews-cards">
                <div class="reviews-card">
                    <div class="reviews-card-text-number">
                        <p>1</p>
                    </div>
                    <div class="reviews-card-text-h4">
                        <h4>Честные цены, без хитрых уловок</h4>
                    </div>
                    <div class="reviews-card-text-descr">
                        <p>
                            Фиксируем цены в плане лечения, 
                            не повышаем в процессе. 
                        </p>
                    </div>
                </div>
                <div class="reviews-card">
                    <div class="reviews-card-text-number">
                        <p>2</p>
                    </div>
                    <div class="reviews-card-text-h4">
                        <h4>Опытные Врачи</h4>
                    </div>
                    <div class="reviews-card-text-descr">
                        <p>
                            Врачи постоянно совершенствуются 
                            в своей специальности, несмотря 
                            на богатый опыт работы.
                        </p>
                    </div>
                </div>
                <div class="reviews-card">
                    <div class="reviews-card-text-number">
                        <p>3</p>
                    </div>
                    <div class="reviews-card-text-h4">
                        <h4>Комфортные условия</h4>
                    </div>
                    <div class="reviews-card-text-descr">
                        <p>
                            Уютная обстановка и отзывчивый персонал сделают
                            поход к стоматологу максимально приятным. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sale">
        <div class="sale-block">
            <div class="sale-text">
                <div class="sale-text-h3">
                    <h3>При фиксации брекетов на обе челюсти получи сертификат на 7000 рублей</h3>
                </div>
                <div class="sale-text-p">
                    <p>
                        Укажите cвой номер телефона, мы перезвоним и подберем для вас удобное время приёма.
                        Или позвоните нам сами — <span>+7 900 333 10 40</span>
                    </p>
                </div>
                <div class="sale-text-input">
                    <input type="text" placeholder="Телефон"><button>Записаться на прием</button>
                </div>
                <div class="sale-text-descr">
                    <p>Записываясь на услугу вы даёте согласие на <span>обработку своих персональных данных</span></p>
                </div>
            </div>
            <div class="sale-image">
                <img src="./img/sale-woman.png" alt="">
            </div>
        </div>
    </section>

    <section class="slider-wrapper">
        <div class="slider-wrapper-text">
            <p>Сертификаты, награды и дипломы</p>
        </div>
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"></div>
            <div class="swiper-slide"></div>
            <div class="swiper-slide"></div>
            <div class="swiper-slide"></div>
            <div class="swiper-slide"></div>
            <div class="swiper-slide"></div>
            <div class="swiper-slide"></div>
            <div class="swiper-slide"></div>
            <div class="swiper-slide"></div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
    </section>

    <section class="salen">
        <div class="saler-block">
            <div class="sale-text">
                <div class="sale-text-h3">
                    <h3>Онлайн консультация специалиста по аудио и видео связи, Бесплатно.</h3>
                </div>
                <div class="sale-text-p">
                    <p>
                        Укажите свой номер телефона, мы перезвоним и подберем для вас удобное время для консультации.
                        Или позвоните нам сами — <span>+7 900 333 10 40</span>
                    </p>
                </div>
                <div class="sale-text-input">
                    <input type="text" placeholder="Телефон"><button>Записаться на прием</button>
                </div>
                <div class="sale-text-descr">
                    <p>Записываясь на услугу вы даёте согласие на <span>обработку своих персональных данных</span></p>
                </div>
            </div>
            <div class="sale-image">
                <img src="./img/sale-womaner.png" alt="">
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-inner">
            <div class="footer-soc">
                <div class="header__card_soc">
                    <div class="header-soc-card">
                        <img src="./img/google.svg" alt="">
                    </div>
                    <div class="header-soc-card">
                        <img src="./img/instagram.svg" alt="">
                    </div>
                    <div class="header-soc-card">
                        <img src="./img/in.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="footer-text">
                <p>
                    ООО «Дент», лицензия №ЛО-86-8681-01868686047 от 13.02.2099
                    © 2018-2021
                </p>
            </div>
            <div class="footer-text-descr">
                <p>
                    Политика в отношении обработки персональных данных
                </p>
            </div>
            <div class="footer-logo">
                <img src="./img/logo.svg" alt="">
            </div>
        </div>
    </footer>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        slidesPerGroup: 3,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        autoplay: {
            delay: 2300,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>

    <script>
// Selection of HTML objects
const burger = document.querySelector('.burger i');
const naver = document.querySelector('.nav');

// Defining a function
function toggleNav() {
    burger.classList.toggle('fa-bars');
    burger.classList.toggle('fa-times');
    naver.classList.toggle('nav-active');
}

// Calling the function after click event occurs
burger.addEventListener('click', function() {
    toggleNav();
});
    </script>

</body>
</html>
